# Environments


# Flutter/Dart/Android/iOS/Web
**/build/
!**/urbanuser/
!**/urbanuser/build/
!**/urbanuser/build/web/
!**/urbanuser/build/web/**
!**/urbanvendor/
!**/urbanvendor/build/
!**/urbanvendor/build/web/
!**/urbanvendor/build/web/**
**/.dart_tool/
**/.pub-cache/
**/.pub/
**/android/app/build/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/.idea/
**/.vscode/
**/*.iml
**/.DS_Store

# Environments and Firebase Rules
.env
*.env
**/.env
firestore.rules
**/firestore.rules

